doctype html
html
  head
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content=config.description)
    link(rel="stylesheet" type="text/css" href="/css/az.css")
  body
    #wrapper
      #header
        .header
          .site-title
            .title-main
              != config.title
            .title-sub
              != config.subtitle

      #content-wrapper
        #content
          .content
            block content
          .content-footer
            block content-footer
              if page.next || page.prev
                nav.page-navigator
                  != paginator({prev_text: __('previous'), next_text: __('next')})

        #sider
          .sider
            .side-widget
              .side-widget-topnav
                a(href=url_for(config.root)) Home
                a(href=url_for(theme.about)) About
                a(href=url_for(theme.rss)) RSS

            .side-widget
              .side-widget-search
                input#search-site(placeholder="Search...")
            
            block side-toc

            if site.categories.length
              .side-widget
                .side-widget-list
                  .widget-title #{ __('categories') }
                  .widget
                    != list_categories({show_count: true})

            if site.tags.length
              .side-widget
                .side-widget-list
                  .widget-title #{ __('tags') }
                  .widget
                    != list_tags({show_count: true})

            .side-widget
              .side-widget-list
                .widget-title #{ __('archives') }
                .widget
                  != list_archives({show_count: true})

    script(src="/js/az.js")
